<launch>
	<!--group ns="HexyBoi"-->
	
		<!--include file="$(find offboard)/launch/dynamixel.launch"/-->

		<node pkg="offboard"
			  type="ros_interface"
			  name="fly"
			  output="screen">
			  
				<param name="~url" type="string" value="serial:///dev/ttyACM0" />
		</node>

	<!-- /group-->
</launch>
