<launch>
  <!-- Pass in mocap_config_file:=/path/to/config.yaml to change options. -->
  <arg name="mocap_config_file"
       default="$(find offboard)/config/mocap.yaml" />
  
  <arg name="drone_name"
		default="HexyBoi" />
  
  <!-- Setup machine to launch nodes directly on drone -->
  <machine name="rpi"
		   user="pi"
		   address="hexyboi"
		   password="raspberry"
		   env-loader="/home/pi/catkin_ws/env.sh"/>

  <group ns="$(arg drone_name)">

  <!-- Mocap Data -->
		<node pkg="mocap_optitrack"
  		      type="mocap_node"
  		      name="mocap_node"
  		      respawn="false"
  		      launch-prefix=""
  		      required="true">
  		  <rosparam file="$(arg mocap_config_file)" command="load" />
  		</node>

  <!-- Publish fixed coordinate systems transform -->
  		<node pkg="tf"
			  type="static_transform_publisher"
  		  	  name="static_transform"
  		  	  args="0.0 0.0 0.0 0.0 0.0 3.14159 base_link $(arg drone_name) 10">
  		</node>

  <!-- Start UI -->
		<node pkg="offboard"
  		  	  type="drone_ui.py"
  		  	  name="clui"
  		  	  output="screen"
  		      required="true">
  		</node>


  <!-- Start Flight Node on Drone
		<node machine="rpi"
			  pkg="offboard"
			  type="ros_interface"
			  name="flight">
			  <param name="~url" type="string" value="serial:///dev/ttyACM0" />
		</node>
  -->
  </group>

</launch>
